* {
  font-family: Verdana, sans-serif;
  background-color: Black;
  text-align: center;
  font-weight: normal;
  color: white;
}

h1 {
  font-size: 50px;
}

p {
  color: gray;
}

.csta {
  color: Aquamarine;
  font-size: 16px;
}

.copyright{
  text-align: right;
}
